.env
.env.*
google-services.json
android/app/google-services.json
android/app/debug.keystore
lib/api/
supabase/
*.keystore
*.jks
*.p12
*.p8
*.pem
*.key
*.crt
*.der
*.cer
*.mobileprovision
*.xcarchive
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.DS_Store
.expo/
.expo-shared/
/dist/
/node_modules/
package-lock.json
yarn.lock
app.json
eas.jsonf 
eas.json
context.md
# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo